*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.logo_style {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo_style > span {
  color: #2e2f42;
}

.studio_style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.current:after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.studio_style:hover,
.studio_style:focus {
  color: #404bbf;
}
.address_style {
  font-style: normal;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kontakt_style {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kontakt_style:hover,
.kontakt_style:focus {
  color: #404bbf;
}

.firstsec_style {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}

.firsthead {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.blue-button {
  background-color: #4d5ae5;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blue-button:focus,
.blue-button:hover {
  background-color: #404bbf;
}

.thirdhead {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sectiontwo_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.thirdsec {
  background-color: #f4f4fd;
}

.secondhead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.listpointthird {
  background-color: #ffffff;
  gap: 24px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.workersdesc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.text_third_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.fourthhead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio_head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.stopka {
  background-color: #2e2f42;
  padding: 100px 0;
}

.stopka_logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 156px;
}

.stopka_span {
  color: #f4f4fd;
}

.stopka_text {
  line-height: 1.5;
  size: 12px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-left: 156px;
}

.header_style {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-navi-list {
  display: flex;
  gap: 40px;
}

.right-navi-list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-two-list {
  display: flex;
  gap: 24px;
}

.secondsec_style {
  padding: 120px 0;
}

.people_list {
  display: flex;
  gap: 24px;
}

.list_points_sec_two {
  width: calc((100% - 72px) / 4);
}

.workername {
  padding: 32px 0px;
}

.fourthsec_style {
  padding: 120px 0 120px 0;
}

.list_sec_four {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list_points_sec_four {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list_points_sec_four:focus,
.list_points_sec_four:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.aplication {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.sm_icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.sm_size {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm_link:focus,
.sm_link:hover {
  background-color: #404bbf;
}

.sm_style {
  fill: #f4f4fd;
}

.portfolio_content {
  position: relative;
  overflow: hidden;
}

.portfolio_content:hover .text_transition {
  transform: translate(0);
}

.text_transition {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0px;
}

.container_footer {
  display: flex;
  align-items: baseline;
}

.sm_footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer_text {
  margin-right: 120px;
}

.sm_footer_icons {
  display: flex;
  gap: 16px;
}

.sm_footer_size {
  width: 40px;
  height: 40px;
}

.sm_footer_style {
  fill: #f4f4fd;
}

.sm_footer_icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sm_footer_icon:hover,
.sm_footer_icon:active,
.sm_footer_icon:focus {
  background-color: #31d0aa;
}
